# 应用配置
APP_NAME=rest-data-collector
DEBUG=True
ENVIRONMENT=development
ENABLE_TG_SERVICE=False

# 数据库配置
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=rest_data
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# 日志配置
LOG_LEVEL=INFO
LOG_FORMAT=%(asctime)s - %(name)s - %(levelname)s - %(message)s

# Docker配置
# 数据库持久化目录
POSTGRES_DATA_DIR=/var/lib/postgresql/data

# Bark 配置
BARK_BASE_URL=https://api.day.app
BARK_DEFAULT_DEVICE_KEY=

# Notion 配置
NOTION_TOKEN=
NOTION_SLEEP_DATABASE_ID=
NOTION_WAKE_DATABASE_ID=
NOTION_GTD_DATABASE_ID=

# AI服务配置
AI_PROVIDER=siliconflow

# 硅基AI配置
SILICONFLOW_API_KEY=
AI_VOICE_MODEL=FunAudioLLM/SenseVoiceSmall
AI_SUMMARY_MODEL=Qwen/QwQ-32B

# OpenAI配置（如果使用OpenAI）
OPENAI_API_KEY=

# Douyin
MEDIA_URL_PREFIX=http://your-server-ip:8000/downloads
FFMPEG_PATH=/bin/ffmpeg

# Telegram
# 启用 Telegram 服务时取消注释并填写
# TG_API_ID=123456
# TG_API_HASH=
# TG_SESSION=
TG_DOWNLOAD_PATH=temp/telegram_downloads/
TG_DOUYIN_BOT=@DouYintg_bot
TG_X_BOT=@xx_video_download_bot
